// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #000(255, 255, 255);
$body-color: white;
$primary: hotpink;
$font-family-base: Lato;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

// Colors:
// #1c1c1c - grey
// #5E6569 - light grey
// #d93d04 - orange
// #0339A6 - blue
// white

body {
  margin: 10px;
  background-color: #1c1c1c;
  text-align: center;
  padding: 0;
}
.navpic {
  border-radius: 50px;
}
.card {
  margin: 0.75rem;
  background-color: #d93d04;
  border: solid #1c1c1c;
}

.card-text {
  color: #1c1c1c;
}
.card-title {
  color: #1c1c1c;
  font-weight: bold;
}
.cover {
  padding: 2.5em;
}
.img-fluid {
  min-width: 375px;
  max-height: 80vmax;
}

h1 {
  font-size: 4rem;
  font-weight: bolder;
  font-family: "Roboto Mono", monospace;
}
h2 {
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;
}

h3 {
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;
}

.hello-small {
  font-size: 1.5rem;
  font-weight: medium;
}
.card-body {
  padding: 1.5em;
}
.card-title {
  font-family: "Roboto Mono";
}

a {
  color: white;
  font-size: 1rem;
}
.mailbutton {
  margin: 5em;
  padding: 10em;
}

.container {
  margin: 0 auto;
}
#about {
  padding-top: 10em;
  padding-bottom: 10em;
}
.btn {
  margin-top: 2.5rem;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  background-color: #0339a6;
}
.footer-link {
  padding: rem;
}
