// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #000(255, 255, 255);
$body-color: white;
$primary: hotpink;
$font-family-base: Karla;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
  background-color: #00334e;
  text-align: center;
}

.headimg {
  max-height: 25em;
  border-radius: 5px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  padding-top: 5em;
  padding-bottom: 15em;
}

.card {
  background-color: #ee6f57;
  border: solid #00334e;
}

.card-text {
  color: #00334e;
}
.card-title {
  color: #00334e;
  font-weight: bold;
}

.about {
  padding-top: 5em;
  padding-bottom: 15em;
}
