// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #000(255, 255, 255);
$body-color: white;
$primary: hotpink;
$font-family-base: Karla;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
  background-color: #00334e;
  text-align: center;
}

.card {
  background-color: #ee6f57;
  border: solid #00334e;
}

.card-text {
  color: #00334e;
}
.card-title {
  color: #00334e;
  font-weight: bold;
}

.about {
  padding-top: 10em;
  padding-bottom: 15em;
}

.headimage {
  background-image: url("/images/IMG_4562_ret.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  color: #ee6f57;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px #00334e;
}

.hello-small {
  font-size: 1rem;
  font-weight: medium;
  text-shadow: 0 0 10px #000000;
}
